<header>
  <a href="/" class="logo">
    <img
      src="/images/logo/vector/default.svg"
      class="logo-img"
      alt="Between Brackets Logo"
    />
  </a>
  <div class="container header">
    <p></p>
    <div class="menuToggle">
      <i class="fas fa-bars"></i>
    </div>

    <ul class="navigation">
      <li><a class="active" href="/admin">Dashboard</a></li>
      <li><a href="/admin/create">Create Post</a></li>
      <li><a href="/admin/search">Search</a></li>
      <li><a href="/admin/logout">Log Out</a></li>
    </ul>
  </div>
</header>
