<header>
  <a href="/" class="logo">
    <img src="/images/blog-logo.png" class="logo-img" alt="DevOrbit Logo" />
  </a>
  <div class="container header">
    <p></p>
    <div class="menuToggle">
      <i class="fas fa-bars"></i>
    </div>

    <ul class="navigation">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/categories">Categories</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</header>
