<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../views/partials/head.ejs') %>
  </head>
  <body>
    <!-- <%- include('../views/partials/header.ejs') %> -->
    <div class="container error-page">
      <h2>Page Not Found</h2>

      <img src="/images/err404.svg" alt="" />

      <div class="back-btn">
        <button onclick="location.href = '/'">Home</button>
      </div>
    </div>
    <!-- <%- include('../views/partials/footer.ejs') %> -->
    <script src="/js/image-finder.js" defer></script>
  </body>
</html>
