<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../views/partials/head.ejs') %>
  </head>
  <body>
    <%- include('../views/partials/header.ejs') %>

    <div class="container">
      <h1>Post</h1>
    </div>
    <%- include('../views/partials/footer.ejs') %>
  </body>
</html>
