@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #eee;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  flex: 1;
}

.container.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.875rem;
}

.menuToggle {
  display: none;
}

header {
  background-color: white;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

a {
  text-decoration: none;
  color: #082032;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-img {
  width: 100px;
  height: 100px;
  transform: rotate(-45deg);
}
.header .logo span {
  color: crimson;
}

.header .navigation {
  list-style: none;
  display: flex;
}

.header .navigation li {
  position: relative;
  margin-left: 1rem;
  font-size: 1.1rem;
  padding: 0.4rem;
}

.header .navigation li a {
  text-decoration: none;
  padding: 10px 20px;
}

.header .navigation li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: crimson;
  transition: width 0.2s ease-out;
}

.header .navigation li:not(.active) a:hover::before {
  width: 100%;
}

.header .navigation li.active {
  border-bottom: 2px solid crimson;
}

.header .navigation li.active:hover {
  border-bottom: 2px solid crimson;
}

/* main & posts */
.main .col {
  width: 48%;
}

.post .post-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.user-info img {
  width: 2.5rem;
}
.user-info {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.user-info span {
  margin-left: 0.5rem;
  color: grey;
}
.user-info .post-tag {
  color: crimson;
}
.post-tag {
  color: crimson;
  cursor: pointer;
}
.post-tag:hover {
  text-shadow: 4px 4px 8px rgb(204, 55, 85);
}

.post-info p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  opacity: 0.6;
  text-align: justify;
}

.post {
  background-color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.post-info {
  padding: 1rem;
}
.container.main {
  display: flex;
  justify-content: space-between;
  padding: 0 0.875rem;
  margin-top: -1.5rem;
}

.post-info h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer {
  margin-top: 3rem;
  background-color: #fff;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.1);
}
.container.footer {
  text-align: center;
  padding: 1rem 0.875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 800px) {
  .header .navigation {
    display: none;
  }

  .header .menuToggle {
    display: flex;
    font-size: 1.3rem;
    cursor: pointer;
  }
  .container.main {
    display: flex;
    flex-direction: column;
  }
  .main .col {
    width: 100%;
  }
  .header .navigation.active {
    display: flex;
    position: fixed;
    top: 4rem;
    background: #fff;
    width: 100%;
    left: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    animation: slide 0.2s ease;
  }
  @keyframes slide {
    0% {
      left: -300px;
    }

    100% {
      left: 0;
    }
  }
  .header .navigation li {
    margin-left: 0rem;
    padding: 1rem 0;
  }
  .category {
    height: 80%;
    width: 85%;
    margin: 5%;
    cursor: pointer;
  }
  .category img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-fit: cover;
  }
}

/* Pagination Styles */
.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

/* TEST */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main {
  flex: 1; /* pushes footer down */
}

header {
  position: sticky; /* sticky works */
  top: 0;
  z-index: 99;
}
/* Category Styles */

.category-heading {
  text-align: center;
  margin: 5vh;
}
.categories {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.category {
  height: 500px;
  width: 85%;
  margin: 5%;
  cursor: pointer;
}
.category:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category-info {
  padding: 1.5rem;
  text-align: center;
}

/* Post Styles */
.post-heading {
  font-family: "Montserrat";
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 15px 0px;
}
.post-container {
  background-color: #fff;
}
.post-img-div {
  width: 100%;
  position: relative;
  padding: 4px;
  margin: 10px 0px 50px 0px;
}
.post-img-div img {
  width: 100%;
  display: block;
  border-radius: 8px;
}
.post-content {
  width: 90%;
  margin: 0 auto;
}
.post-content h2 {
  font-family: "Poppins";
}
.post-content p {
  font-family: "Open Sans";
  line-height: 28px;
}
.post-desc {
  padding: 2px;
  margin: 20px 0px;
}
.post-details {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  gap: 2rem;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-family: "Montserrat";
}
.group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.group span {
  font-weight: 100;
  font-style: italic;
}
.main-post-content {
  line-height: 32px;
}
.others {
  margin: 25px 0px;
}

/* Admin Styles (Login) */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  gap: 8vh;
}
.login-container h1 {
  margin-top: 20px;
}
.login-main {
  min-height: 60vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login-main form {
  min-height: 60vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 4px 4px 3px 1px rgba(30, 29, 29, 0.5);
}
.login-main form input {
  width: 80%;
  height: 4rem;
  font-size: 1rem;
  text-align: center;
  margin: 10px;
  border-radius: 15px;
  border: none;
  background-color: #eee;
  transition: all 0.2s ease-in;
}
.login-main form input[type="submit"] {
  background-color: #333;
  color: white;
  cursor: pointer;
}
.login-main form input[type="submit"]:hover {
  transform: scale(1.1);
}

/* Admin Styles (Dashboard) */
.container h1,
.container h2 {
  text-align: center;
  margin-top: 10px;
}
.latest-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 6px;
}
.admin-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 4rem;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
}
.admin-post-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 4px;
}
