@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #eee;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  flex: 1;
}

.container.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.875rem;
}

.menuToggle {
  display: none;
}

header {
  background-color: white;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

a {
  text-decoration: none;
  color: #082032;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-img {
  width: 100px;
  height: 100px;
  transform: rotate(-45deg);
}
.header .logo span {
  color: crimson;
}

.header .navigation {
  list-style: none;
  display: flex;
}

.header .navigation li {
  position: relative;
  margin-left: 1rem;
  font-size: 1.1rem;
  padding: 0.4rem;
}

.header .navigation li a {
  text-decoration: none;
  padding: 10px 20px;
}

.header .navigation li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: crimson;
  transition: width 0.2s ease-out;
}

.header .navigation li:not(.active) a:hover::before {
  width: 100%;
}

.header .navigation li.active {
  border-bottom: 2px solid crimson;
}

.header .navigation li.active:hover {
  border-bottom: 2px solid crimson;
}

/* main & posts */
.main .col {
  width: 48%;
}

.post .post-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.user-info img {
  width: 2.5rem;
}
.user-info {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.user-info span {
  margin-left: 0.5rem;
  color: grey;
}
.user-info .post-tag {
  color: crimson;
}
.post-tag {
  color: crimson;
  cursor: pointer;
}
.post-tag:hover {
  text-shadow: 4px 4px 8px rgb(204, 55, 85);
}

.post-info p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  opacity: 0.6;
  text-align: justify;
}
.post-info h2 a {
  text-align: left;
}
.post {
  background-color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.post-info {
  padding: 1rem;
}
.container.main {
  display: flex;
  justify-content: space-between;
  padding: 0 0.875rem;
  margin-top: -1.5rem;
}

.post-info h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer {
  margin-top: 3rem;
  background-color: #fff;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.1);
}
.container.footer {
  text-align: center;
  padding: 1rem 0.875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 800px) {
  .header .navigation {
    display: none;
  }

  .header .menuToggle {
    display: flex;
    font-size: 1.3rem;
    cursor: pointer;
  }
  .container.main {
    display: flex;
    flex-direction: column;
  }
  .main .col {
    width: 100%;
  }
  .header .navigation.active {
    display: flex;
    position: fixed;
    top: 4rem;
    background: #fff;
    width: 100%;
    left: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    animation: slide 0.2s ease;
  }
  @keyframes slide {
    0% {
      left: -300px;
    }

    100% {
      left: 0;
    }
  }
  .header .navigation li {
    margin-left: 0rem;
    padding: 1rem 0;
  }
  .category {
    height: 80%;
    width: 85%;
    margin: 5%;
    cursor: pointer;
  }
  .category img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-fit: cover;
  }
}

/* Pagination Styles */
.pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

/* TEST */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main {
  flex: 1; /* pushes footer down */
}

header {
  position: sticky; /* sticky works */
  top: 0;
  z-index: 99;
}
/* Category Styles */

.category-heading {
  text-align: center;
  margin: 5vh;
}
.categories {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.category {
  height: 500px;
  width: 85%;
  margin: 5%;
  cursor: pointer;
}
.category:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category-info {
  padding: 1.5rem;
  text-align: center;
}

/* Post Styles */
.post-heading {
  font-family: "Montserrat";
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 15px 0px;
}
.post-container {
  background-color: #fff;
}
.post-img-div {
  width: 100%;
  position: relative;
  padding: 4px;
  margin: 10px 0px 50px 0px;
}
.post-img-div img {
  width: 100%;
  display: block;
  border-radius: 8px;
}
.post-content {
  width: 90%;
  margin: 0 auto;
}
.post-content h2 {
  font-family: "Poppins";
}
.post-content p {
  font-family: "Open Sans";
  line-height: 28px;
}
.post-desc {
  padding: 2px;
  margin: 20px 0px;
}
.post-details {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  gap: 2rem;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-family: "Montserrat";
}
.group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.group span {
  font-weight: 100;
  font-style: italic;
}
.main-post-content {
  line-height: 32px;
}
.others {
  margin: 25px 0px;
}

/* Admin Styles (Login) */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  gap: 8vh;
}
.login-container h1 {
  margin-top: 20px;
}
.login-main {
  min-height: 60vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login-main form {
  min-height: 60vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 4px 4px 3px 1px rgba(30, 29, 29, 0.5);
}
.login-main form input {
  width: 80%;
  height: 4rem;
  font-size: 1rem;
  text-align: center;
  margin: 10px;
  border-radius: 15px;
  border: none;
  background-color: #eee;
  transition: all 0.2s ease-in;
}
.login-main form input[type="submit"] {
  background-color: #333;
  color: white;
  cursor: pointer;
}
.login-main form input[type="submit"]:hover {
  transform: scale(1.1);
}

/* Admin Styles (Dashboard) */
.admin-container h1,
.admin-container h2 {
  text-align: center;
  margin-top: 10px;
}
.latest-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 6px;
}
.admin-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 4rem;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
}
.admin-post-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 4px;
  width: 20%;
  transition: all 0.4s ease-in;
}
.admin-post-settings .edit:hover,
.admin-post-settings .delete:hover {
  transform: scale(1.1);
}
.admin-post-settings img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* Admin Styles (Create) */
.create-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}
.create-container form label {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.create-container form input,
.create-container form textarea {
  width: 80%;
  height: 3rem;
  border-radius: 15px;
  padding: 10px;
  border: none;
}
textarea {
  min-height: 300px;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.7;
  overflow: hidden;
  resize: none;
  border-radius: 15px;
}
textarea:focus {
  outline: none;
  border-color: #262323;
}
.select-wrapper {
  position: relative;
  width: 80%;
  text-align: center;
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  padding: 1rem;
  padding-right: 2.5rem;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

.select-wrapper::after {
  content: "▾";
  position: absolute;
  right: 1rem;
  top: 60%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #555;
}

.select-wrapper select:focus {
  outline: none;
  border-color: #1e1e1e;
}

.create-container form input[type="submit"] {
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.create-container form input[type="submit"]:hover {
  transform: scale(1.1);
}

/* Markdown Preview Styles */
#preview {
  margin-top: 0.5rem;
  padding: 1rem 1.2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fefefe;
  min-height: 300px;
  max-height: 800px;
  overflow-y: auto;
  line-height: 1.7;
  width: 80%;
}

#preview h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#preview h2 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

#preview h3 {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}

#preview p {
  margin-bottom: 1rem;
}

#preview img {
  max-width: 100%;
  border-radius: 6px;
  margin: 1rem 0;
}
#preview pre {
  margin: 1.5rem 0;
  border-radius: 8px;
  overflow-x: auto;
  font-size: 0.9rem;
}

#preview code {
  font-family: "Fira Code", monospace;
}

/* Lists */
#preview ul,
#preview ol {
  margin: 0.5rem 0 1rem 1.5rem;
}
.link {
  text-decoration: underline;
  color: deepskyblue;
}

/* Image Finder */
.image-container {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}
.image-container h1 {
  text-align: center;
  margin: 100px auto 50px;
  font-weight: 500;
}

.image-container form {
  width: 80%;
  height: 4rem;
  background: #333;
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.image-container form input {
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: 0;
  background: transparent;
  color: white;
  font-size: 18px;
  padding: 0 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}
.image-container form input:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}
.image-container form input:focus {
  border-color: transparent;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  transform: translateY(-1.5px);
}

.image-container form button {
  padding: 0 40px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  border: 2px solid transparent;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}
.search-icon {
  width: 2rem;
  height: 2rem;
  transition: all 0.3s ease;
}
.search-icon:hover {
  transform: rotate(34deg);
}
.image-container form button:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  transform: translateY(-2px);
}
.image-container form button:focus {
  outline: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  transform: translateY(-1.5px);
}
.image-container ::placeholder {
  color: white;
  font-size: 18px;
}

.image-container #show-more-btn {
  background: #ff3929;
  color: white;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  border-radius: 6px;
  margin: 10px auto 100px;
  cursor: pointer;
  display: none;
}

.image-container #search-result {
  position: relative;
  min-height: 150px;
  width: 80%;
  margin: 100px auto 50px;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.image-container #search-result img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 5px;
}

.image-container #footer {
  font-size: 13px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  display: none;
}

.image-container .picture {
  position: relative;
}
.image-container .picture:hover {
  filter: brightness(50%);
  transform: scale(1.05);
  transition:
    transform 0.3s ease,
    transform 0.3s ease;
}
.image-wrapper {
  position: relative;
  width: 100%;
}

/* overlay button */
#copy-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  display: none;
  pointer-events: none;
  border: none;
  padding: 8px;
  color: white;
  background: transparent;

  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}
.copy-btn {
  transition: all 0.25s ease;
}

.image-wrapper:hover #copy-btn {
  cursor: pointer;
  display: inline;
  pointer-events: auto;
  transform: translateY(0);
}

/* Toast Notification Div */
/* Toast container fixed at top right */
#toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  min-width: 250px;
  background-color: #333;
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 0.4s forwards;
}

/* Progress bar */
.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background: #eee;
  width: 100%;
  transform-origin: left;
  animation: progressBar linear forwards;
}

/* Animations */
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes progressBar {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
/* Image Search Loader */
/* From Uiverse.io by Li-Deheng */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  --color: hsl(0, 0%, 0%);
  --animation: 2s ease-in-out infinite;
}

.loader .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 2px var(--color);
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}

.loader .circle .dot {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color);
  animation: dot-keys var(--animation);
}

.loader .circle .outline {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: outline-keys var(--animation);
}

.circle:nth-child(2) {
  animation-delay: 0.3s;
}

.circle:nth-child(3) {
  animation-delay: 0.6s;
}

.circle:nth-child(4) {
  animation-delay: 0.9s;
}

.circle:nth-child(5) {
  animation-delay: 1.2s;
}

.circle:nth-child(2) .dot {
  animation-delay: 0.3s;
}

.circle:nth-child(3) .dot {
  animation-delay: 0.6s;
}

.circle:nth-child(4) .dot {
  animation-delay: 0.9s;
}

.circle:nth-child(5) .dot {
  animation-delay: 1.2s;
}

.circle:nth-child(1) .outline {
  animation-delay: 0.9s;
}

.circle:nth-child(2) .outline {
  animation-delay: 1.2s;
}

.circle:nth-child(3) .outline {
  animation-delay: 1.5s;
}

.circle:nth-child(4) .outline {
  animation-delay: 1.8s;
}

.circle:nth-child(5) .outline {
  animation-delay: 2.1s;
}

@keyframes circle-keys {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dot-keys {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px var(--color);
    outline-offset: 0;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    outline: solid 0 transparent;
    outline-offset: 20px;
    opacity: 0;
  }
}
#loader {
  display: none;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: none;
  padding: 20px;
  border-radius: 10px;
}
